#add-step.modal.hide.fade{ role: 'dialog', tabindex: '-1', 'aria-labelledby' => 'add-step-label', 'aria-hidden' => 'true'}
  .modal-header
    = button_tag '×', type: :button, class: 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'
    %h3#add-step-label
      Create a new step
  .modal-body
    = simple_form_for @example_step, remote: true, html: { id: 'add-step-form', class: 'form-horizontal', 'data-type' => 'json'} do |f|
      = button_tag 'dummy', class: 'hidden', type: :submit

      .control-group
        = f.input :name
        = f.input :duration, wrapper: 'append' do
          = f.input_field :duration, class: 'span7'
          .btn-group
            = button_tag class: 'btn dropdown-toggle', 'data-toggle' => 'dropdown' do
              minutes
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: '#' } hours
              %li
                %a{ href: '#' } seconds

        = f.input :notes, input_html: { rows: 5 }

      .control-group.fieldset
        %legend Ingredient Picker
        #ingredients-group.input-append.controls
          = text_field_tag :'ingredients', nil, placeholder: 'Add ingredients here', class: 'span11 string', autocomplete: 'off', rel: 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'data-original-title' => 'Add ingredients by writing them here, and wait for the suggestions. If the ingredient does not exist yet, click the plus button'
          = button_tag class: 'btn', type: :button do
            %i.icon-plus-sign

        #selected-ingredients
          = f.hidden_field :ingredients

  .modal-footer
    = button_tag id: 'add-step-confirm', class: 'btn btn-primary' do
      %i.icon-ok.icon-white
      Save
