= simple_form_for @recipe, html: { multipart: true, class: 'form-horizontal' } do |f|

  = f.input :name
  = f.input :difficulty, collection: Recipe.difficulty_levels, default: 1

  %hr

  = f.input :picture, as: :picture

  %hr

  = f.association :categories, collection: Category.order(:name).load

  %hr

  .controls
    = button_tag type: :submit, class: 'btn btn-success', 'data-loading-text' => 'Saving...' do
      %i.icon-ok.icon-white
      Save
    = link_to recipes_path, class: 'btn btn-danger' do
      %i.icon-remove.icon-white
      Back

