= simple_form_for @recipe, html: { multipart: true } do |f|

  .row-fluid.boxed.shadow.presentation
    .span4.pictures-container

      = add_association_button f, :pictures

      = f.simple_fields_for :pictures do |picture|
        = render 'picture_fields', f: picture

    .span8
      .row-fluid
        .span8
          = f.input :name
        .span4
          = duration_tag(@recipe.duration)
      .row-fluid
        = f.association :categories, collection: Category.order(:name).load, input_html: { rel: 'tooltip', 'data-toogle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => t('categories.tooltip')}
        = text_field_tag :'extra-category', nil, placeholder: t('extra-category.placeholder'), class: 'controls string', rel: 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-original-title' => t('extra-category.tooltip')
      .row-fluid
        = f.input :difficulty, collection: Recipe.difficulty_levels, default: 1

  .boxed.shadow.steps-container
    %h2= t('steps')

    = add_association_button f, :steps

    %hr

    .steps
      = f.simple_fields_for :steps do |step|
        = render 'step_fields', f: step

  .boxed.shadow.videos-container
    %h3= t('videos')

    = add_association_button f, :videos

    %hr

    .videos
      = f.simple_fields_for :videos do |video|
        = render 'video_fields', f: video

  .boxed.shadow
    .row-fluid
      .span5
      .span7
        = button_tag type: :submit, class: 'controls btn btn-primary' do
          %i.icon-ok.icon-white
          = t('button.save')
        = link_to recipes_path, class: 'btn' do
          %i.icon-remove
          = t('button.back')
