= form_for @recipe, :html => { :multipart => true } do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name
  = f.text_field :name

  = f.label :difficulty
  = f.select :difficulty, options_for_select(Recipe.difficulty_levels)

  %hr

  = f.label :category, 'Add a category'
  = text_field_tag 'category'

  %hr

  = f.label :picture, 'Choose a picture'
  = f.file_field :picture

  %hr

  %p Step

  = fields_for :first_step do |step_form|
    = step_form.label :name
    = step_form.text_field :name

    = step_form.label :duration
    = step_form.text_field :duration

  .actions
    = f.submit 'Save'
