= form_for @recipe, :html => { :multipart => true } do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name
  = f.text_field :name

  = f.label :difficulty
  = f.select :difficulty, options_for_select(Recipe.difficulty_levels)

  = text_field_tag 'category'

  = f.file_field :picture

  .actions
    = f.submit 'Save'
