.nested-fields.row-fluid.boxed.shadow.step
  = link_to_remove_association f, class: 'pull-right' do
    %i.icon-remove

  .row-fluid
    .span6
      %h3= f.input :name
    .span6
      = f.input :duration, wrapper: 'append' do
        = f.input_field :duration, type: 'number', class: 'span9'
        %span.add-on= t('duration.minutes')

  .row-fluid
    .span6.quantities-container
      %h4= t('ingredients')

      = add_association_button f, :quantities

      %hr

      .quantities
        = f.simple_fields_for :quantities do |quantity|
          = render 'quantity_fields', f: quantity

    .span6
      = f.input :notes, input_html: { rows: 5 }
