.nested-fields.row-fluid.boxed.shadow.step
  = link_to_remove_association f, class: 'pull-right' do
    %i.icon-remove

  .row-fluid
    .span6
      %h3= f.input :name
    .span6
      = f.input :duration, wrapper: 'append' do
        = f.input_field :duration, type: 'number', class: 'span9'
        %span.add-on minutes

  .row-fluid
    .span6.quantities-container
      %h4 Ingredients

      = link_to_add_association f, :quantities, class: 'btn btn-success', 'data-association-insertion-method' => 'append' do
        %i.icon-plus-sign.icon-white
        Ingredient

      %hr

      .quantities
        = f.simple_fields_for :quantities do |quantity|
          = render 'quantity_fields', f: quantity

    .span6
      = f.input :notes, input_html: { rows: 5 }
