= content_for :well do

  - if params[:search]
    %div= "Displaying search results for *#{params[:search]}*"

  .row-fluid
    .span8
      %h1 Recipes
    .span4
      .btn-group.pull-right
        = link_to recipes_path(view: 'detail'), class: "btn #{'active' unless params[:view] == 'list'}" do
          %i.icon-th-large
        = link_to recipes_path(view: 'list'), class: "btn #{'active' if params[:view] == 'list'}" do
          %i.icon-th-list

- view = params[:view] == 'list' ? 'list_view' : 'detail_view'
= render view, recipes: @recipes

%br

%div.text-center= page_entries_info @recipes
= paginate @recipes


