%div.well
  %div.container
    %div.row
      %div.span12
        %h1.text-center Recipes
    %div.row
      %div.span12
        = paginate @recipes

%div.container-fluid

  %ul.thumbnails
    - @recipes.each do |recipe|
      %li.span4.box
        = link_to recipe, class: 'thumbnail' do
          = image_tag recipe.picture.url(:medium), class: 'img-rounded'
          %div.caption
            %h3= recipe.name
            %div.row-fluid
              %div.span6.text-left= distance_of_time_in_words(recipe.duration)
              = difficulty_tag recipe.difficulty
            %div.row-fluid
              - recipe.categories.each do |category|
                %span.badge.badge-info= category.name

%br

= link_to 'New Recipe', new_recipe_path
