= content_for :main_css, 'recipes-list'
= content_for :well do

  - if params[:search]
    .row= "Displaying search results for *#{params[:search]}*"

  .row
    .col-md-8.col-sm-8.col-xs-6
      %h2= "Recipes"
    .col-md-4.col-sm-4.col-xs-6
      .btn-group.pull-right
        = link_to recipes_path(view: 'detail'), class: "btn btn-default #{'active' unless params[:view] == 'list'}" do
          %i.glyphicon.glyphicon-th-large
        = link_to recipes_path(view: 'list'), class: "btn btn-default #{'active' if params[:view] == 'list'}" do
          %i.glyphicon.glyphicon-th-list

- view = params[:view] == 'list' ? 'list_view' : 'detail_view'
= render view, recipes: @recipes

%br

%div.text-center= page_entries_info @recipes
= paginate @recipes
