%h1 Listing recipes

%table
  %tr
    %th Picture
    %th Name
    %th Difficulty
    %th
    %th
    %th

  - @recipes.each do |recipe|
    %tr
      %td= image_tag recipe.picture.url(:thumb)
      %td= recipe.name
      %td= recipe.difficulty
      %td= link_to 'Show', recipe
      %td= link_to 'Edit', edit_recipe_path(recipe)
      %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = paginate @recipes
  = page_entries_info @recipes

%br

= link_to 'New Recipe', new_recipe_path
