%div.well
  %div.container
    %div.row
      %div.span12
        %h1 Listing recipes

= paginate @recipes
= page_entries_info @recipes

%div.container
  %div#portfolio.row

    - @recipes.each do |recipe|
      %div.span3.box
        %div.thumbnail
          = image_tag recipe.picture.url(:medium)
          %div.caption
            %p= recipe.name
            %p= recipe.difficulty
            %div.row-fluid
              %div.span4= link_to 'Show', recipe
              %div.span4= link_to 'Edit', edit_recipe_path(recipe)
              %div.span4= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
