= content_for :main_css, 'recipes-list'
= content_for :well do

  - if params[:search]
    .row= "Displaying search results for *#{params[:search]}*"

  .row
    .col-md-8.col-sm-8.col-xs-6
      %h2= "Recipes"

.row
  .col-md-8.col-xs-12
    = render 'list_view', recipes: @recipes

%br

%div.text-center= page_entries_info @recipes
= paginate @recipes
