%div.well
  %div.container-fluid
    %div.row-fluid
      %div.span12
        %h1 Recipes
        = link_to new_recipe_path, class: 'btn btn-large btn-success' do
          %i.icon-plus-sign.icon-white
          Add Recipe

%ul.thumbnails
  - @recipes.each do |recipe|
    %li.span3
      = link_to recipe, class: 'thumbnail' do
        = image_tag recipe.picture.url(:medium), class: 'img-rounded'
        %div.caption
          %h3= recipe.name
          %div.row-fluid
            %div.span6.text-left= distance_of_time_in_words(recipe.duration)
            = difficulty_tag recipe.difficulty
          %div.row-fluid
            - recipe.categories.each do |category|
              %span.badge.badge-info= category.name

%br

%div.text-center= page_entries_info @recipes
= paginate @recipes


