%div.well
  %div.container
    %div.row
      %div.span12
        %h1 Listing recipes
    %div.row
      %div.span12
        = paginate @recipes

%div.container-fluid

  %ul.thumbnails
    - @recipes.each do |recipe|
      %li.span4.box
        = link_to recipe, class: 'thumbnail' do
          = image_tag recipe.picture.url(:medium)
          %div.caption
            %p= recipe.name
            %p= recipe.difficulty

%br

= link_to 'New Recipe', new_recipe_path
