= content_for :well do
  %h1 Recipes

  - if params[:search]
    %div= "Displaying search results for *#{params[:search]}*"

%ul.thumbnails
  - @recipes.each do |recipe|
    %li.span3
      = link_to recipe, class: 'thumbnail boxed shadow' do
        = main_picture_tag recipe
        %div.caption
          %h3= recipe.name
          %div.row-fluid
            .span4
              = difficulty_tag recipe.difficulty
            .span8
              = duration_tag(recipe.duration, class: 'small-duration')
          %div.row-fluid
            - recipe.categories.each do |category|
              %span.badge.badge-info= category.name

%br

%div.text-center= page_entries_info @recipes
= paginate @recipes


