.container-fluid
  .row-fluid.boxed.shadow.presentation
    .span4
      - if @recipe.pictures.length > 1
        #carousel.carousel.slide
          -# Pointers
          %ol.carousel-indicators
            - @recipe.pictures.each_index do |index|
              %li{ 'data-target' => '#carousel', 'data-slide-to' => "#{index}", class: ('active' if index == 0) }
          -# Pictures
          .carousel-inner
            - @recipe.pictures.each_with_index do |picture, index|
              .item{ class: ('active' if index == 0) }
                = picture_tag picture
                - if picture.caption.present?
                  .carousel-caption
                    %h4= picture.caption
          -# Arrows
          = link_to '#carousel', class: 'carousel-control left', 'data-slide' => 'prev' do
            &lsaquo;
          = link_to '#carousel', class: 'carousel-control right', 'data-slide' => 'next' do
            &rsaquo;
      - else
        = main_picture_tag @recipe

    .span8
      .row-fluid
        .span8
          %h1= @recipe.name
        .span4
          = duration_tag(@recipe.duration)
      .row-fluid
        - if @recipe.categories.any?
          %h4 Categories
          - @recipe.categories.each do |category|
            %span.badge.badge-info= category.name
      .row-fluid
        %h4 Difficulty
        = difficulty_tag(@recipe.difficulty)

  .boxed.shadow.accordion.steps-container
    %h3 Steps

    - @recipe.steps.each_with_index do |step,index|
      .row-fluid.boxed.shadow.accordion-group.step
        .accordion-heading
          = duration_tag(step.duration)
          = link_to "#collapse#{index}", class: 'accordion-toggle', 'data-toggle' => 'collapse' do
            %h3= step.name

        .collapse.accordion-body.in{ id: "collapse#{index}" }
          .accordion-inner
            .span6
              - if step.quantities.any?
                %h4 Ingredients
                %ul.ingredients
                  - step.quantities.each do |quantity|
                    %li.ingredient
                      %span= quantity.ingredient.name
                      - if quantity.unit.present?
                        = amount_tag(quantity.amount, quantity.unit)
            .span6
              - if step.notes.present?
                %h4 Notes
                = simple_format(step.notes)

  - if @recipe.videos.any?
    .boxed.shadow.videos-container
      %h3 Videos

      %ul.thumbnails
        - @recipe.videos.each do |video|
          %li.boxed.video
            = youtube_video video

= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
