= content_for :title do
  = "Recipe - #{@recipe.name}"

= content_for :well do
  - if can? :edit, Recipe
    = link_to edit_recipe_path(@recipe), class: 'btn btn-large btn-primary' do
      %i.glyphicon.glyphicon-edit.icon-white
      Edit Recipe
  - if can? :destroy, Recipe
    = link_to recipe_path(@recipe), method: :delete, confirm: 'Are you sure?', class: 'btn btn-large btn-danger' do
      %i.glyphicon.glyphicon-remove
      Remove Recipe

%section.container-fluid
  .row.boxed.shadow.presentation
    .col-md-4.col-sm-6
      = render 'picture'

    .col-md-8.col-sm-6
      .row
        .col-md-8.col-sm-7
          %h2.title= @recipe.name
        .col-md-4.col-sm-5.hidden-xs
          = duration_tag(@recipe.duration)
      .row
        - if @recipe.categories.any?
          %h4 Categories
          - @recipe.categories.each do |category|
            %span.label.label-info= category.name
      .row
        %h4 Difficulty
        = difficulty_tag(@recipe.difficulty)
      .row
        %h4= "Servings: #{@recipe.servings}"

  %section.boxed.shadow.accordion.steps-container
    %h2 Steps
    %hr

    - @recipe.steps.each_with_index do |step,index|
      %section.row.boxed.shadow.accordion-group.step
        .accordion-heading
          = duration_tag(step.duration)
          = link_to "#collapse#{index}", class: 'accordion-toggle', 'data-toggle' => 'collapse' do
            %h3= step.name

        .collapse.accordion-body.in{ id: "collapse#{index}" }
          .accordion-inner
            .span6
              - if step.quantities.any?
                %h4 Ingredients
                %ul.ingredients
                  - step.quantities.each do |quantity|
                    %li.ingredient
                      %span= quantity.ingredient.name
                      - if quantity.unit.present?
                        = amount_tag(quantity.amount, quantity.unit)
            .span6
              - if step.notes.present?
                %h4 Notes
                = simple_format(step.notes)

  - if @recipe.videos.any?
    %footer.boxed.shadow.videos-container
      %h2 Videos
      %hr

      %ul.thumbnails
        - @recipe.videos.each do |video|
          %li.boxed.video
            = youtube_video video.url
