.container-fluid
  %p#notice= notice

  .row-fluid.boxed
    .span4
      = picture_tag @recipe
    .span8
      %h1= @recipe.name
      .row-fluid
        .span6
          %h5= distance_of_time_in_words(@recipe.duration)
        .span6
          %h2= difficulty_tag(@recipe.difficulty)

      .row-fluid
        - if @recipe.categories.any?
          %h4 Categories
          - @recipe.categories.each do |category|
            %span.badge.badge-info= category.name

  .row-fluid.boxed
    - @recipe.steps.each do |step|
      .row-fluid.boxed
        .row-fluid
          %h3= step.name
          .pull-right= distance_of_time_in_words(step.duration)

        .row-fluid
          .span6
            - if step.ingredients.any?
              %h4 Ingredients
              %ul
                - step.ingredients.each do |ingredient|
                  %li= ingredient.name
          .span6
            - if step.notes.present?
              %h4 Notes
              %p= step.notes


= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
