.container-fluid
  %p#notice= notice

  .row-fluid.boxed.shadow
    .span4
      = picture_tag @recipe
    .span8
      %h1= @recipe.name
      .row-fluid
        - if @recipe.categories.any?
          %h4 Categories
          - @recipe.categories.each do |category|
            %span.badge.badge-info= category.name

      .row-fluid
        .span6
          = duration_tag(@recipe.duration)
        .span6
          %h2= difficulty_tag(@recipe.difficulty)

  .boxed.shadow.accordion.steps-container
    - @recipe.steps.each_with_index do |step,index|
      .row-fluid.boxed.shadow.accordion-group.step
        .accordion-heading
          = duration_tag(step.duration, class: 'pull-right')
          = link_to "#", class: 'accordion-toggle', 'data-toggle' => 'collapse', 'data-target' => "#collapse#{index}" do
            %h3= step.name

        .collapse.in{ id: "collapse#{index}" }
          .accordion-inner
            .span6
              - if step.quantities.any?
                %h4 Ingredients
                %ul.ingredients
                  - step.quantities.each do |quantity|
                    %li.ingredient
                      %span= quantity.ingredient.name
                      - if quantity.unit.present?
                        = amount_tag(quantity.amount, quantity.unit)
            .span6
              - if step.notes.present?
                %h4 Notes
                %p= step.notes


= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
