= content_for :title do
  = "Recipe - #{@recipe.name}"

= content_for :well do
  - if can? :edit, Recipe
    = link_to edit_recipe_path(@recipe), class: 'btn btn-large btn-primary' do
      %i.glyphicon.glyphicon-edit.icon-white
      Edit Recipe
  - if can? :destroy, Recipe
    = link_to recipe_path(@recipe), method: :delete, confirm: 'Are you sure?', class: 'btn btn-large btn-danger' do
      %i.glyphicon.glyphicon-remove
      Remove Recipe

%section.container-fluid
  .row.boxed.shadow.presentation
    .col-md-4.col-sm-6
      = render 'picture'

    .col-md-8.col-sm-6
      .row
        .col-md-8.col-sm-7
          %h2.title= @recipe.name
        .col-md-4.col-sm-5.hidden-xs
          = duration_tag(@recipe.duration)
      .row
        - if @recipe.categories.any?
          %h4 Categories
          - @recipe.categories.each do |category|
            %span.label.label-info= category.name
      .row
        %h4 Difficulty
        = difficulty_tag(@recipe.difficulty)
      .row
        %h4= "Servings: #{@recipe.servings}"

  %section.row.boxed.shadow.accordion.steps-container
    %h2 Steps
    %hr

    - @recipe.steps.each_with_index do |step,index|
      %section.boxed.shadow.accordion-group.step
        .row.accordion-heading
          .col-md-8
            = link_to "#collapse#{index}", class: 'accordion-toggle', 'data-toggle' => 'collapse' do
              %h3= step.name
          .col-md-4.hidden-xs= duration_tag(step.duration)

        .row.collapse.accordion-body.in{ id: "collapse#{index}" }
          .accordion-inner
            .col-md-6.col-sm-6
              - if step.quantities.any?
                %h4 Ingredients
                - step.quantities.each do |quantity|
                  .row.ingredient
                    .col-md-6.col-sm-6.col-xs-6= quantity.ingredient.name
                    - if quantity.unit.present?
                      .col-md-6.col-sm-6.col-xs-6= amount_tag(quantity.amount, quantity.unit)

            .col-md-6.col-sm-6
              - if step.notes.present?
                %h4 Notes
                = simple_format(step.notes)

  - if @recipe.videos.any?
    %section.row.boxed.shadow.videos-container
      %h2 Videos
      %hr

      %ul.thumbnails
        - @recipe.videos.each do |video|
          %li.col-md-4.col-sm-6
            .boxed.video= youtube_video video.url
